ansible==11.7.0
ansible-core==2.18.6
awscli==1.41.4
boto3==1.39.4
botocore==1.39.4
cffi==1.17.1
colorama==0.4.6
cryptography==45.0.5
docutils==0.19
git-filter-repo==2.47.0
Jinja2==3.1.6
jmespath==1.0.1
MarkupSafe==3.0.2
packaging==25.0
pyasn1==0.6.1
pycparser==2.22
python-dateutil==2.9.0.post0
PyYAML==6.0.2
resolvelib==1.0.1
rsa==4.7.2
s3transfer==0.13.0
six==1.17.0
urllib3==2.5.0
